<a href="https://colab.research.google.com/github/yooje153/-/blob/main/2022_09_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
import numpy as np

In [17]:
data=pd.DataFrame(
    np.array([
        ['유재은','Korea','pingpong',5],
        ['허희진','Korea','movie',4],
        ['안이현','Korea','drama',3],
        ['송태원','Korea','climbing',17]
    ]), columns=['name','nationality','hobby','number'],
    index=['학생1','학생2','학생3','학생4']
)

In [31]:
data

    name nationality     hobby number
학생1  유재은       Korea  pingpong      5
학생2  허희진       Korea     movie      4
학생3  안이현       Korea     drama      3
학생4  송태원       Korea  climbing     17

In [30]:
df=pd.DataFrame(
    {'name':['유재은','허희진','안이현','송태원'],
     'nationality':['Korea','Korea','Korea','Korea'],
     'hobby':['pingpong','movie','drama','climbing'],
     'number':[5,4,3,7]},
     index=['학생1','학생2','학생3','학생4']
)

In [32]:
df

    name nationality     hobby  number
학생1  유재은       Korea  pingpong       5
학생2  허희진       Korea     movie       4
학생3  안이현       Korea     drama       3
학생4  송태원       Korea  climbing       7

In [20]:
data.to_csv('2022-09-15.csv')

In [21]:
pd.read_csv('2022-09-15.csv')

  Unnamed: 0 name nationality     hobby  number
0        학생1  유재은       Korea  pingpong       5
1        학생2  허희진       Korea     movie       4
2        학생3  안이현       Korea     drama       3
3        학생4  송태원       Korea  climbing      17

In [35]:
df['number'].count()

4

In [34]:
df['number'].nunique()

4

In [33]:
df['number'].sum()

19

In [36]:
df['number'].mean()

4.75

In [37]:
df['number'].median()

4.5

In [38]:
df['number'].median()

4.5

In [39]:
df['number'].min()

3

In [40]:
df['number'].idxmin()

'학생3'

In [41]:
df['number'].max()

7

In [43]:
df['number'].idxmax()

'학생4'